{% extends "layout/base.html" %}
{% block content %}
<style>

#editbutton{
  width: 10vw; 
  display:block; 
  margin:0 auto;
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: #5DBCD2;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#editbutton:hover{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  color: #5DBCD2;
}

#submitbutton{
  width: 10vw
}

#expert{
  transition-duration: 0.5s;
}
#expert:hover{
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .profilecenter{
    padding: 20px;
  }
  .img-circle{
    width: 45%;
  }
  #editbutton{
    width: 150px;
  }
  #submitbutton{
    width: 150px;
  }
  #expert{
    margin:3px;
    display: flex; 
  }

  .biodata{
    margin:15px;
  }
}

</style>
<br><br>

<section name="profile" style="margin-bottom:50px">
    <div class="container">
    	<h2>Profile</h2>
    </div>
    <div class="profilecenter">
        <div>
            <img class="img-circle" style="display:block; margin:auto" src= {{profile.link}} width="15%" height="15%"/>
        <h2 style="text-align:center">{{profile.name}}</h2>
        <p style="text-align:center">{{profile.position}}</p>
        </div>
        <div class="container">
                <!-- Trigger the modal with a button -->
                <button class="btn btn-lg btn-block btn-info" id="editbutton" data-toggle="modal" data-target="#myModal">Edit Profile</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Profile</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="name" value="{{profile.name}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="position" class="col-sm-2 col-form-label">Position</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="position" value="{{profile.position}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="description" value="{{profile.description}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="birthday" class="col-sm-2 col-form-label">Birthdate</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="birthdate" value="{{profile.birthday}}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="gender" value="{{profile.gender}}">
                            </div>
                          </div>
                            <div class="form-group row">
                              <label for="email" class="col-sm-2 col-form-label">Email</label>
                              <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" value="{{profile.email}}">
                              </div>
                            </div>
                          <div class="form-group row">
                            <label for="expertise" class="col-sm-2 col-form-label">Expertise</label>
                            <div class="col-sm-10">
                              <input type="expertise" class="form-control" id="expertise" value="{{profile.expertise}}">
                            </div>
                          </div>
                        <div class="form-group row">
                          <label for="photo" class="col-sm-2 col-form-label">Photo Image URL</label>
                          <div class="col-sm-10">
                            <input type="link" class="form-control" id="link" value="{{profile.link}}">
                          </div>
                      </div>
                          <div class="form-group row">
                            <div class="col-sm-10" style="float:right">
                              <button type="submit" class="btn btn-lg btn-block btn-info" id="submitbutton">Save</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

    </div>
    <div class="biodata">
        <table align="center" style="text-align: center">
            <tr><td class="subject" >Birthday</td><td class="value" >{{profile.birthday}}</td></tr>
            <tr><td class="subject" >Gender</td><td class="value" >{{profile.gender}}</td></tr>
            <tr><td class="subject" >Expertise</td><td class="value">{% for ii in splitexp %}<span id="expert" class="expert">{{ii}}</span>{% endfor %}</td></tr>
            <tr><td class="subject" >Description</td><td class="value" >{{profile.description}}</td></tr>
            <tr><td class="subject" >Email</td><td class="value" >{{profile.email}}</td></tr>
        </table>
    </div>
</section>


<br><br>

{% endblock %}
