#my-list .container .flex{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 50px;
}

#my-list .container .flex #status{
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px solid grey;
  background-color: white;
  border-radius: 5px;
  width: 78vw;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

#date-added{
  margin-top: 10px;
  color: grey;
}
#post-button{
  width: 10vw;
  margin-left: 68vw;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#post-button:hover{
  background-color: white;
  color: #5DBCD2;
}
#input-list .container #form .status-form-textarea{
  width: 78vw;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  padding: 10px;
}
#input-list{
  margin-top: 50px;
}
#depe{
  margin: 15px;
  margin-top: -25px;
}
#delete-button{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 0px;
  margin-left: 73vw;
  background-color: red;
  border-color: red;
  color:white;
  text-decoration: none;
  font-weight: bolder;
  padding-left: 6px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#delete-button:hover{
  background-color: white;
  color: red;
  text-decoration: none;
}
