{% extends "layout/base.html" %}
{% block content %}

<style>
#my-list .container .flex{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 50px;
}

#my-list .container .flex #status{
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  border: 2px solid grey;
  background-color: white;
  border-radius: 5px;
  width: 78vw;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

#date-added{
  margin-top: 10px;
  color: grey;
}
#post-button{
  width: 150px;
  margin-right: inherit;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#post-button:hover{
  background-color: white;
  color: #5DBCD2;
}
#input-list .container #form .status-form-textarea{
  width: 78vw;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
  padding: 10px;
}
#input-list{
  margin-top: 50px;
}
#depe{
  margin: 15px;
  margin-top: -25px;
}
#delete-button{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 0px;
  margin-left: 73vw;
  background-color: red;
  border-color: red;
  color:white;
  text-decoration: none;
  font-weight: bolder;
  padding-left: 6px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#delete-button:hover{
  background-color: white;
  color: red;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  #input-list .container #form .status-form-textarea{
    width: 90vw;
  }
  #post-button{
    width: 150px;
    margin-right: inherit;
  }
  #my-list .container .flex #status{
    width: 90vw;
  }
}
</style>
<br><br>
<section name="input-list" id="input-list">
    <div class="container">
    	<form id="form" method="POST" action="{% url 'tugas-update-status:add_status' %}">
            <h2>Update Status</h2>
            {% csrf_token %}
            {{form}}
            <input id="post-button" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Timeline</h2>
        <div class="flex">
        {% if model %}
        	{% for data in model %}
          <div class="flex-item" id="status">
            <a href="/tugas-update-status/delete_status/{{ data.id }}">
          <div id="delete-button" class="delete-button" data-id={{data.id}}}>x</div>
        </a>
          <div class="postee">
          <img id="depe" class="img" src = "https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png" width="50px">
          Kak Pewe
        </div>
				  <div class="isi-status">{{data.description}}</div>
				  <div class="date-added" id="date-added">
            {{data.created_date}}
          </div>
        </div>
        	{% endfor %}
        {% else %}
        	<div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada post di timeline.
            </div>
        {% endif %}
      </div>
    </div>
</section>
{% endblock %}
