{% extends "layout/base.html" %}
{% block content %}
<style>
.latest{
  border: 2px solid grey;
  background-color: white;
  border-radius: 5px;
  width: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}
.date-added{
  color: grey;
}
.latest .postee{
  margin-bottom: 10px;
  margin-top: -10px;
}
#depe{
  margin: 15px;
}


#kontener{
    padding-left:10%;
}

#nama{
    margin-left:-30%;
}

</style>
<br><br>
<section name="stats" style="margin-bottom:50px">
    <div class="container" id="judul">
    	<h2>Statistic</h2>
    </div>
    <div id="kontener" class="container">
        <div class="fotonama">
            <div class="fotostats">
            <img id="fotostat" class="foto" src= {{profile.link}} style= "width: 40%" "height: 40%">
            </div>
            <h1 id="nama" > {{profile.name}} </h1>
        </div>
        <hr>
        <div class="friendsfeed">
            <table class="tablefeeds">
                <tr >
                    <td class="subject">Friends</td>
                    <td class="value" style="color:grey">{{friends}}</td>
                </tr>
            </table>
            <table class="tablefeeds">
                    <tr>
                        <td class="subject">Feeds</td>
                        <td class="value" style="color:grey">{{feeds}}</td>
                    </tr>
            </table>
          </div>
              <h2 style="padding-left:10px">Latest Post</h2>
              {% if latest %}
        <div id="latest" class="latest">
            <div class="postee">
            <img id="depe" class="img" src= {{profile.link}} width="50px">
            Kak Pewe
            </div>
  				  <div class="isi-status">{{latest.description}}</div>
  				  <div class="date-added" id="date-added">
              {{latest.created_date}}
            </div>
        </div>
        {% else %}
        	<div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada post di timeline.
            </div>
        {% endif %}
    </div>
</section>

<br><br>
{% endblock %}
