{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="http://vignette3.wikia.nocookie.net/the-most-popular-girls-in-school/images/1/1a/Linkedin.png/revision/latest?cb=20150730204727">
    <title>
        {% block title %} {{title}} {% endblock %}
    </title>
</head>


<style>
   footer p{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
  }

  body{
      font-family: 'Montserrat';
      background-image: linear-gradient(to right, #accbee, #e7f0fd);
  }

  tr, td{
      text-align: left;
      padding: 10px;
  }

  .fotonama{
    display:flex;
    margin-top: 20px;
  }

  #nama{
    justify-content: center;
    align-self: center;
    padding-left: 30px;
    font-size: 50px;
  }

  .friendsfeed{
      display: flex;
      margin-top: 30px;
  }

.tablefeeds{
    font-size: 30px;
}

.subject{
    font-weight: bold;
}

.expert{
    border: 2px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

</style>

<body>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>


    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<footer>
  {% block footer %}
  {% include 'partials/footer.html' %}
  {% endblock %}
</body>

</html>
