{% extends "layout/base.html" %}
{% block content %}
<style>
#delete-button{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 5px;
  background-color: #5DBCD2;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#delete-button:hover{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #5DBCD2;
}
#submit{
  width: 10vw;
  margin-left: inherit;
  margin-top: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#submit:hover{
  background-color: white;
  color: #5DBCD2;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 50px;
}
.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  margin: 15px;
  height: 180px;
  min-width: 250px;
}


.name{
  text-align: center;
}
.link{
  text-align: center;
  padding-top: 15px;
}
.added-date{
  color:grey;
  padding: 10px;
}
.added-date:before{
  content: "";
  display: block;
  padding: 18px;
}
.added-date:after{
  content:"";
  display:block;
  background: #fff;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
.alert.success {background-color: #4CAF50;}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
@media only screen and (max-width: 768px) {
  .flex-item{
    flex-basis: 90%;
  }
  #submit{
    margin-left: inherit;
    width: 150px;
  }
}
</style>

<br><br>
<section name="input-list" id="input-list">
    <div class="container">
    	<form id="form" method="POST" action="{% url 'tugas-add-friend:message_post' %}">
            <h2>Add Friend</h2>
            {% csrf_token %}
            {{form}}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
    {% if status == "Fail" %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>Link invalid.</strong> Link yang anda masukan tidak tersedia.  
    </div>
    {% elif status == "Done" %}
    <div class="alert success">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>  
      <strong>Success!</strong> Indicates a successful or positive action.
      </div>
    {% endif %}   
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">List Friend</h2>
        {% if model %}
        	<div class="flex">
            {% for data in model %}
				<div class="flex-item" id="friend">
				  <div class="name">{{data.name}}</div>
				  <div class="link"><a href={{data.link}}>{{data.link}}</a></div>
				  <div class="added-date">Added {{data.created_date}}</div>
                  <div class="delete_friend_button">
                    <a href="/tugas-add-friend/delete_friend/{{ data.id }}">
                        <div id="delete-button" class="delete-button" data-id={{data.id}}}>Delete Friend</div>
                    </a>
                  </div>
				</div>
                {% endfor %}
				</div>

        {% else %}
        	<div class="alert alert-danger text-center">
                <strong>Oops!</strong> Kamu belum mempunyai teman.
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
